/* You can add global styles to this file, and also import other style files */
input[type="checkbox"] {
  transform: scale(1.5);
}


div[role="textarea"] {
  border: 1px solid blue;
  width: 300px;
  height: 100px;
  display: inline-block;
  overflow: auto;
}


.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


abbr {
  position: relative;
  text-decoration: unset;
}
abbr:hover::after {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: block;
  width: 100%;
  padding: 4px;
  background: yellow;
  content: attr(title);
}
/* abbr[aria-label] {
  position: relative;
}
abbr[aria-label]:hover::after,
abbr[aria-label]:focus::after {
  content: attr(aria-label);

  position: absolute;
  left: 0;
  top: 105%;
  width: auto;
  white-space: nowrap;

  background-color: #8FBFD2;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 3px 5px;
} */


app-select {
  width: 20%;
}
app-select .select {
  border: 1px solid blue;
  box-sizing: border-box;
  height: 20px;
}
app-select .options {
  border: 1px solid blue;
  background-color: white;
  margin: 0px;
  position: absolute;
  box-sizing: border-box;
  display: none;
  list-style: none;
  padding: 0px;
}
app-select ul > li:hover {
  background-color: aliceblue;
}



body {
  height: 1000px;
}