<ng-container *ngIf="funds$ | async as funds">
  <h2>{{funds.length}} encontrados</h2>
  <form>
    <fieldset>
      <legend>Orderan por:</legend>
      <label for="ratio1">Ratio 1:</label>
      <input id="ratio1" type="radio" name="orderBy" value="ratio1" (change)="onOrderChange('ratio1')">
      <label for="ratio3">Ratio 3:</label>
      <input id="ratio3" type="radio" name="orderBy" value="ratio3" (change)="onOrderChange('ratio3')">
      <label for="volatilidadYearTres">Volatilidad 3 años:</label>
      <input id="volatilidadYearTres" type="radio" name="orderBy" value="volatilidadYearTres" (change)="onOrderChange('volatilidadYearTres')">
      <label for="yearUno">Anualizada 1 año:</label>
      <input id="yearUno" type="radio" name="orderBy" value="yearUno" (change)="onOrderChange('yearUno')">
      <label for="ytd">Año actual:</label>
      <input id="ytd" type="radio" name="orderBy" value="ytd" (change)="onOrderChange('ytd')" checked>
    </fieldset>
  </form>
  <ol>
    <li *ngFor="let fund of funds | orderBy:{reverse:true, column:selectedOrder}; let isEven = even; let isOdd = odd"
      [ngClass]="{ 'even-item': isEven, 'odd-item': isOdd }">
      <details open="true">
        <summary>
          <span>{{fund.nombre}} - {{fund.codigoIsin}}</span>
          <input class="check" type="checkbox" [value]="fund.codigoIsin" (change)="onCardSelect(fund.codigoIsin, $event)">
        </summary>
        <section>
          <div>
            <p>
              <span [ngClass]="{
                'green': fund.volatilidadYearTres < 2,
                'orange': fund.volatilidadYearTres > 2 && fund.volatilidadYearTres < 4,
                'red': fund.volatilidadYearTres > 4
              }">Volatilidad 3a: <b>{{fund.volatilidadYearTres}}</b></span>
              <!-- <span [ngClass]="{
                'green': fund.volatilidad < 2,
                'orange': fund.volatilidad > 2 && fund.volatilidad < 4,
                'red': fund.volatilidad > 4
              }">Volatilidad: <b>{{fund.volatilidad}}</b></span> -->
            </p>
            <p class="row">
              <span>Año actual: <b>{{fund.ytd}}</b></span>
              <span>Ratio1: <b>{{fund.ratio1}}</b></span>
              <span>Ratio3: <b>{{fund.ratio3}}</b></span>
              <span>Anualizada 1: <b>{{fund.yearUno}}</b></span>
              <span>Anualizada 3: <b>{{fund.yearTres}}</b></span>
              <span>Anualizada 5: <b>{{fund.yearCinco}}</b></span>
            </p>
          </div>
          <!-- <div class="figure">
            <a
              href="https://www.morningstar.es/es/funds/snapshot/snapshot.aspx?id={{fund.secIdFondoMorningstar}}"
              target="_blank">
              <img width="325" height="150" border="0" id="returnsChart" alt="Crecimiento de 1.000 EUR" src="{{imgSrcPart1}}{{fund.secIdFondoMorningstar}}{{imgSrcPart2}}">
            </a>
          </div> -->
          <app-fund-chart class="figure" [fundId]="fund.secIdFondoMorningstar"></app-fund-chart>
        </section>
      </details>
    </li>
  </ol>
  <div class="floating-button">
    <a href="https://www.finect.com/fondos-inversion/comparador?products={{selectedIdsString}}" target="_blank">Comparar</a>
  </div>
  <div class="floating-button clear-button" (click)="clearSelection()">
    Borrar
  </div>
</ng-container>
