<div class="pizza-selector-view" [class.empty]="!selectedPizza">

  <section class="row" *ngIf="selectedPizza" [formGroup]="selectedPizza">
    <div *ngIf="selectedPizza.errors?.['toppingPizzaSize']">
      {{selectedPizza.errors?.['toppingPizzaSize']?.message}}
    </div>
    <div>
      <app-pizza-size-picker formControlName="size"></app-pizza-size-picker>
    </div>
    <div>
      <h5>Toppings:</h5>
      <div style="display: flex; gap: 18px" formArrayName="toppings">
        <label *ngFor="let topping of toppingsArray" [formGroup]="topping">
          {{topping.get('name').value}}
          <!-- OPCIÓN 1: -->
          <!-- <input type="checkbox" [formControl]="getFormControl(topping, 'selected')"> -->

          <!-- OPCIÓN 2 (cláramente, mucho mejor): -->
          <input type="checkbox" formControlName="selected">
        </label>
      </div>
    </div>
  </section>

  <section *ngIf="!selectedPizza">
    <h4>You have not selected any pizzas yet.</h4>
    <button (click)="addPizza.emit()">Add one</button>
  </section>

</div>