<div class="CustomerDetails" [formGroup]="group">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Customer Details
      </h3>
    </div>
    <div class="col-md-3">
      <div class="full-width-input">
        <input matInput placeholder="First Name" formControlName="firstName" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="full-width-input">
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="full-width-input">
        <input matInput placeholder="Phone Number" formControlName="phoneNumber" />
      </div>
    </div>
  </div>

  <div class="row" [formGroup]="group.get('address')">
    <div class="col-md-12">
      <h3>
        Delivery Address
      </h3>
    </div>
    <div class="col-md-3">
      <div class="full-width-input">
        <input matInput placeholder="Street" formControlName="street" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="full-width-input">
        <input matInput placeholder="Apt. Number" formControlName="houseNum" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="full-width-input">
        <input matInput placeholder="City" formControlName="city" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="full-width-input">
        <input matInput placeholder="Floor" formControlName="floor" />
      </div>
    </div>
  </div>
</div>




