<p>
  HEADER NAV
</p>

<div>
  <!-- https://levelup.gitconnected.com/css-stylish-custom-checkbox-and-radio-input-9b465f193355 -->
  <label for="defaultCheckbox" class="si si-checkbox">
    <input type="checkbox" id="defaultCheckbox" />
    <span class="si-label">Default checkbox state</span>
  </label>

  <label for="defaultRadio" class="si si-radio">
    <input type="radio" id="defaultRadio" name="radioGroup" />
    <span class="si-label">Default radio state</span>
  </label>

  <label for="defaultSwitcher" class="si si-switcher">
    <input type="checkbox" id="defaultSwitcher" />
    <span class="si-label">Default switcher state</span>
  </label>
</div>

<br>
<small>En este componente hay un ejemplo de definición y uso de variables CSS</small>