<div class="container content" [formGroup]="form">
  <h4 *ngIf="form.errors?.['noPizzas'] && form.dirty" style="color: red;">{{form.errors?.['noPizzas'].message}}</h4>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <!-- recoge los datos de la pizza actual: -->
        <app-selected-pizza-viewer (addPizza)="onAddPizza()" [selectedPizza]="selectedPizza">
        </app-selected-pizza-viewer>
      </div>

      <div class="row">
        <app-customer-details></app-customer-details>
      </div>
      <div class="row">
        <button (click)="submit(form.value)">SUBMIT</button>
        <button (click)="reset()">RESET</button>
      </div>
    </div>
    <div class="col-md-4">
      <app-pizza-list
        (addPizza)="onAddPizza()"
        (pizzaSelected)="onSelectPizza($event)"
        (deletePizza)="onDeletePizza($event)">
      </app-pizza-list>
    </div>
  </div>
</div>

<pre>{{form.value | json}}</pre>