:host {
    display: block;
    border: 1px solid gray;
    background: lightblue;
    padding: 4px;
}

div {
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}